<div >
  <h1 class="display-4" style="text-align: center;"> Welcome to The Bargaining Folks!</h1>
    <p class="lead" style="text-align: center;">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured content or information.</p>     
    <p>
  </div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="color: black;">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="admin" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a routerLink="userlist" class="nav-link" routerLinkActive="active">Marketplace</a>
    </li>
    <div style="float:right">
      <li class="nav-item" >
          <a routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
      </li>
    </div>
  </ul>
  
  
  <!--<div class="w3-bar w3-black">
    <a routerLink="admin" >Home</a>
    <a href="userlist" >UserListing</a>
    <a href="#" >Link 3</a>
  </div>-->
  </nav><br/>
<router-outlet></router-outlet>