<!-- Header Component-->
<div class="page-header">
<h2>Welcome to your Selling home page.</h2>
<h5>From here you can view everything you have listed and post new objects for sale.</h5>
</div>
<!-- Create New Listing Button-->

<div class="createListing">
    <h2 class="listing-header">Post New Item For Sale</h2>

    <form (ngSubmit)="createListing()">

        <button type="submit">New Post</button>

    </form>
</div><br/>

<!-- Listing Table Component-->

<div>
    <table class="table table-border table-striped">
        <thead>
          <tr>
            <th>Item</th>
            <th>Quality</th>
            <th>Category</th>
            <!--<th>Description</th>-->
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="testcolor">
          <tr *ngFor="let listing of listings | async">
            <ng-container>
            <td>{{listing.title}}</td>
            <td>{{listing.quality}}</td>
            <td>{{listing.category}}</td>
            <!--<td>{{listing.description}}</td>-->
            <td>{{listing.price}}</td>
            <td>
              <form (ngSubmit)="cancelItem(listing.id)">
                <button type="submit" class="btn btn-danger" >Cancel</button>
              </form>
            </td>
          </ng-container>
            <hr class="my-4"/>
          </tr>
        </tbody>
      </table>
    </div>