<h1>Marketplace</h1>
<div>
  <form style="width: 100%; text-align: center;">
      <input  type="text" placeholder="Search..."/>

      <button type="submit" value="Go!">Go!</button>
  </form>
<br/>
</div>
<div>
<table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quality</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody style="background-color: gray; border:1px">
      <tr *ngFor="let listing of listings | async">
        <ng-container>
        <td>{{listing.title}}</td>
        <td>{{listing.quality}}</td>
        <td>{{listing.category}}</td>
        <td>{{listing.description}}</td>
        <td>{{listing.price}}</td>
      </ng-container>
        <hr class="my-4"/>
      </tr>
    </tbody>
  </table>
</div>