<h1>Marketplace</h1>
<div style="text-align: center;">
  <form [formGroup]="searchForm" style="text-align: center; display: inline;" (ngSubmit)="onSubmit()">
      <input formControlName="search" type="text" placeholder="Search..."/>
      <button type="submit" value="Go!">Go!</button>
      </form>
  <form (ngSubmit)="onReset()" style="display:inline">
    <button type="submit" >Reset!</button>
  </form>
</div>
<div>
<table class="table table-border table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quality</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="testcolor">
      <tr *ngFor="let listing of listings | async">
        <ng-container>
        <td>{{listing.title}}</td>
        <td>{{listing.quality}}</td>
        <td>{{listing.category}}</td>
        <td>{{listing.price}}</td>
        <td>
          <form (ngSubmit)="buyItem(listing.id)">
            <button type="submit" class="btn btn-success" >Buy</button>
          </form>
        </td>
      </ng-container>
        <hr class="my-4"/>
      </tr>
    </tbody>
  </table>
</div>