
h1 {
    text-align: center;
}
table {
    padding: 10%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 10pc;
}
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}